<div id="stage" class="jumbotron">
    <canvas id="fogLayer"></canvas>


    <div class="text-container">
        <div class="word">
            <div class="letter">C</div>
            <div class="letter">L</div>
            <div class="letter">A</div>
            <div class="letter">R</div>
            <div class="letter">I</div>
            <div class="letter">T</div>
            <div class="letter">Y</div>
        </div>
        <div class="word">
            <div class="letter"><span>S</span></div>
            <div class="letter"><span>T</span></div>
            <div class="letter"><span>O</span></div>
            <div class="letter"><span>R</span></div>
            <div class="letter"><span>M</span></div>
        </div>

<!--
        <div id="text1" class="anim-text">
            Special thanks to...
        </div>
-->

    </div>
    <div class="vendors">
        <div class="vendor">
            <img src="images/vendors/yeoman.png" alt="">
        </div>
        <div class="vendor">
            <img src="images/vendors/grunt.png" alt="">
        </div>
        <div class="vendor">
            <img src="images/vendors/gulp.png" alt="">
        </div>
        <div class="vendor">
            <img src="images/vendors/bower.png" alt="">
        </div>
        <div class="vendor">
            <img src="images/vendors/node.png" alt="">
        </div>
        <div class="vendor">
            <img src="images/vendors/html5.png" alt="">
        </div>
        <div class="vendor">
            <img src="images/vendors/sass.png" alt="">
        </div>
        <div class="vendor">
            <img src="images/vendors/phantom.png" alt="">
        </div>
        <div class="vendor">
            <img src="images/vendors/gsap.png" alt="">
        </div>
    </div>
</div>

<div class="summary col-md-6 col-sm-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="col-md-6">
   <div id='messagesDiv'></div>
    <input type='text' id='nameInput' placeholder='Name'>
    <input type='text' id='messageInput' placeholder='Message'>
</div>

<div class="clear-float"></div>

<!--
<div class="row marketing">

</div>-->